*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.box
{
    height:  50px;
    width:  250px;
    border:  1px solid black;
    padding:  20px;
    margin:  10px;
    /* background-color: lightgrey; */
}
.red
{
    background-color: red;
    margin-left: 50px;
    padding: 20px 0 px;
}
.green
{
    background-color: green;
    margin-bottom: 50px;
}
.blue
{
    background-color: blue;
    margin: 100px 20 px 50px 10px;
    
}